@{
    ViewData["Title"] = "Privatnost";
}
<h1>@ViewData["Title"]</h1>
<body>
    <header>
        </header>
    <footer>
        <p>
            Sve cijene iskazane su u Hrvatskim Kunama i uključuju PDV.
            Trudimo se dati što bolji i točniji opis, sliku i specifikacije.
            Unatoč tome, ne možemo garantirati da su svi navedeni podaci i slike u potpunosti točni
            te je prije kupnje potrebno provjeriti na stranicama proizvođača.
            Ne odgovaramo za eventualne pogreške nastale u opisu proizvoda, slika, specifikacija te greške kod
            promjene cijena.

        </p>
    </footer>
</body>
